span {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 0.75em;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 12px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

h2 {
  font-family: "Brandon Grotesque", sans-serif;
  text-align: center;
  color: rgb(255 94 36);
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
}

input,
select {
  height: 40px;
  width: 450px;
  border-radius: 7px;
  border-color: rgb(223 222 222);
}

input {
  padding-left: 12px;
}

select {
  background-color: rgb(240 240 240);
}

button {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 12px;
  margin-left: 350px;
  color: white;
  background-color: rgb(230 94 61);
  border-radius: 25px;
  height: 35px;
  width: 100px;
  border: rgb(230 94 61);
}

div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
